*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
:root{
    --dark: #242526;
}
html{
    background-color: var(--dark);
}
.body-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.hotel-name{
    color: #fff;
    font-size: 50px;
    font-family: 'Water Brush', cursive;
    font-weight: 400;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 
*/